<%= form_with model: form, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title, id:"case_title" %>
  </div>

  <div class="field">
    <%= f.label :explanation, "説明" %><br />
    <%= f.text_area :explanation, class: :form__text, id:"case_catch_copy" %>
  </div>

  <div class="field">
    <%= f.label :category_id, "カテゴリー" %><br />
    <%= f.text_area :category_id, class: :form__text, id:"case_category_id" %>
  </div>

  <div class="field">
    <%= f.label :image, "参考画像" %><br />
    <%= f.file_field :image, id:"case_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>